<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta charset="UTF-8">
		<title>Hello SAPUI5</title>
		<script id="sap-ui-bootstrap" type="text/javascript"
			src="<%= resourceUrl %>"
			data-sap-ui-theme="sap_bluecrystal"<% if(developMode) { %>
			data-sap-ui-debug="true"
			data-sap-ui-logLevel="INFO"<% } %>
			data-sap-ui-libs="sap.ui.commons,sap.m">
		</script>
		<link rel="stylesheet" type="text/css" href="css/main.css">
		<script>
			
			// tell UI5 where to find stuff
			sap.ui.localResources("util");
			sap.ui.localResources("view");
			jQuery.sap.registerModulePath('Application', 'Application');
			
			// launch application
			jQuery.sap.require("Application");
			var oApp = new Application({root : "content"});
			
		</script>
	</head>
	<body class="sapUiBody" id="content">
	</body>
</html>