<!DOCTYPE HTML>
<html>

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta charset="UTF-8">

  <title><%= _.slugify(appname) %></title>

  <script id="sap-ui-bootstrap"
    src="<%= resourcePath %>"
    data-sap-ui-libs="sap.m"
    data-sap-ui-theme="sap_bluecrystal"
    data-sap-ui-xx-bindingSyntax="complex"
    data-sap-ui-resourceroots='{
        "<%= namespace %>": "./",
        "view": "./view",
        "util": "./util"
    }'>
  </script>
  <script>
  new sap.m.Shell({
    app: new sap.ui.core.ComponentContainer({
      name : "<%= namespace %>"
    })
  }).placeAt("content");
  </script>

</head>

<body class="sapUiBody" id="content" />

</html>